<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>IPAddress</key>
        <string>10.42.43.63</string>
        <key>RouterIPAddress</key>
        <string>10.42.42.1</string>
        <key>SSID</key>
        <string>dissect</string>
</dict>
</plist>