[build-system]
requires = ["setuptools>=65.5.0", "setuptools_scm[toml]>=6.4.0"]
build-backend = "setuptools.build_meta"

[project]
name = "dissect.target"
description = "This module ties all other Dissect modules together, it provides a programming API and command line tools which allow easy access to various data sources inside disk images or file collections (a.k.a. targets)"
readme = "README.md"
requires-python = "~=3.9"
license.text = "Affero General Public License v3"
authors = [
  {name = "Dissect Team", email = "dissect@fox-it.com"}
]
classifiers = [
  "Programming Language :: Python :: 3",
]
dependencies = [
    "defusedxml",
    "dissect.cstruct>=3.0.dev,<4.0.dev",
    "dissect.eventlog>=3.0.dev,<4.0.dev",
    "dissect.evidence>=3.0.dev,<4.0.dev",
    "dissect.hypervisor>=3.0.dev,<4.0.dev",
    "dissect.ntfs>=3.4.dev,<4.0.dev",
    "dissect.regf>=3.3.dev,<4.0.dev",
    "dissect.util>=3.0.dev,<4.0.dev",
    "dissect.volume>=3.0.dev,<4.0.dev",
    "flow.record~=3.9",
    "structlog",
]
dynamic = ["version"]

[project.urls]
homepage = "https://dissect.tools"
documentation = "https://docs.dissect.tools/en/latest/projects/dissect.target"
repository = "https://github.com/fox-it/dissect.target"

[project.optional-dependencies]
full = [
    "asn1crypto",
    "dissect.cim>=3.0.dev,<4.0.dev",
    "dissect.clfs>=1.0.dev,<2.0.dev",
    "dissect.esedb>=3.0.dev,<4.0.dev",
    "dissect.etl>=3.0.dev,<4.0.dev",
    "dissect.extfs>=3.0.dev,<4.0.dev",
    "dissect.fat>=3.0.dev,<4.0.dev",
    "dissect.ffs>=3.0.dev,<4.0.dev",
    "dissect.shellitem>=3.0.dev,<4.0.dev",
    "dissect.sql>=3.0.dev,<4.0.dev",
    "dissect.thumbcache>=1.0.dev,<2.0.dev",
    "dissect.vmfs>=3.0.dev,<4.0.dev",
    "dissect.xfs>=3.0.dev,<4.0.dev",
    "ipython",
    "fusepy",
    "pycryptodome",
    "pyyaml",
    "yara-python",
    # dissect.target's caching uses flow.record functionlity which depends on the
    # zstandard module being available. However flow.record does not define
    # zstandard as a dependency, nor does it allow zstandard to be installed
    # through extras.
    #
    # Until such time that this dependency can be installed through
    # flow.record, we define it as a dependency of dissect.target.
    "zstandard",
]

[project.scripts]
target-build-pluginlist = "dissect.target.tools.build_pluginlist:main"
target-dump = "dissect.target.tools.dump.run:main"
target-dd = "dissect.target.tools.dd:main"
target-fs = "dissect.target.tools.fs:main"
target-info = "dissect.target.tools.info:main"
target-mount = "dissect.target.tools.mount:main"
target-query = "dissect.target.tools.query:main"
target-reg = "dissect.target.tools.reg:main"
target-shell = "dissect.target.tools.shell:main"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
known_first_party = ["dissect.target"]
known_third_party = ["dissect"]

[tool.setuptools]
license-files = ["LICENSE", "COPYRIGHT"]

[tool.setuptools.packages.find]
include = ["dissect.*"]

[tool.setuptools_scm]
